/* CSS */
/* .container{
  overflow: hidden;
} */
.main{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url(ai-removebg-preview.png) ;
  height: 450px;
  position: relative;
  background-color: yellow
    /* z-index:2;
  background-color: yellow */
} 

.first{
  top: 180px;
  height: 270px;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.459);
  color: rgb(255, 255, 255);
  font-size: 20px;
  position: absolute;
  opacity: 50;
}

.second{
  padding-left:25px ;
}

.button{
  background-color: rgba(255, 209, 3, 0.993);
}

.main2{
  background-image: url(leopardl.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
  background-color: rgba(255, 217, 0, 0.993);
}
.first2{
  position:absolute;
  top: 100px;
  left: 50px;
}

.main3{
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.b1{
  background-color: rgb(238, 0, 247);
  padding-left: 20px;
}
.b2{
  background-color: rgb(99, 209, 49);
  padding-left: 20px;
}
.b3{
  background-color: black;
  padding-left: 20px;
  color: rgb(255, 211, 211);
}
.b4{
  background-color: rgb(121, 37, 37);
  padding-left: 20px;
}

.main4{
  background-color: rgb(251, 255, 0);
  height: 1000px;
  width: 100%;
  position: relative;
  background-size: cover;
}
.first4{
  background-color: black;
  position: absolute;
  width: 76%;
  height: 40%;
  left: 24%;
}
.boxs{
  position: absolute;
  top: 10%;
  left: 0%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 15px;

  /* width: 350px;
  height: 200px;
   margin: 10px; 
  padding-left: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;*/
} 
.box1{
  width: 400px;
  height: 240px;
  background-image: url(download.jfif);
  background-position: center;
  background-size: cover; 
   background-repeat: no-repeat; 
   
    /* width: 350px;
    height: 200px;
    margin: 10px; 
    padding-left: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block; */
  }
  
  .box1.img-fluid {
    max-width: 100%;
    height: auto;
  }

#b1{
  background-image: url(download\ \(4\).jfif);
  background-position: start;
  /* width: 29%; */
}
#b2{
  background-image: url(download\ \(1\).jfif);
  /* width: 29%; */
}
#b3{
  background: none;
}
#b4{
  background-image: url(images.jfif);
  background-position: start;
  /* width: 29%; */
}
#b5{
  background-image: url(images\ \(3\).jfif);
  /* width: 29%; */
}
#b6{
  background-image: url(images\ \(2\).jfif);
  /* width: 57%; */
}
#b7{
  background: none;
}
#b8{
  background-image: url(images\ \(4\).jfif);

  background-repeat: no-repeat;
  background-size: cover;
}
#b9{
  background-image: url(images\ \(6\).jfif);
  /* width: 57%; */
}
p{
  
  font-size: 20px;
}